
html , body {
    background-color: #141414;
    height: 100%;
    overflow: hidden;
    font-family: 'Inter var', sans-serif;
    font-size: x-large;
    min-width: 1874px;
    min-height: 921;
    color: #fff;
}

div {
    background-color: #000000;
    border-radius: 4px;
}

.hamburguer_button {
    background-color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 12px;
    border-radius: 14px;
    transition: linear 0.1s;
    position: relative;
    z-index: 1001;
}

.hamburguer_icon {
    width: 30px;
    height: 25px;
    scale: 1.32;
    filter: invert();
}

.hamburguer_button:hover {
    scale: 1.1;
}

.hamburguer_button:active {
    transition-duration: 100ms;
    scale: 1;
}

.hamburguer-menu {
    position: absolute;
    background-color: #000000;
    border-radius: 14px;
    top: -2000px;
    overflow: scroll;
    scrollbar-width: none;
}

#barra-lado {
    position: fixed;
    top: -100;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: #111;
    z-index: 999;
    /* padding-top: 150px; */
    transition: top 0.3s ease;
}

#barra-lado.aberto {
    top: 60px;
}

.h-menu-button {
    background-color: #222;
    border: none;
    border-radius: 24px;
    margin-left: -30px;
    margin-top: 32px;
    padding: 10px;
    transition: linear 0.2s;
}
.h-menu-button:hover {
    scale: 1.1;
}
.h-menu-button-icon {
    height: 50px;
    aspect-ratio: 1/1;
    filter: invert();
}

.horizontal-ativo {
    position: absolute;
    margin-top: 1vh;
    & .midias-scroller {
        position: relative;
        bottom: 100px;
        width: 100vw;
        height: 70vh;
        display: grid;
        grid-template-columns: 255px 255px 255px 255px 255px;
        grid-template-rows: 315px 315px;
        overflow: scroll;
    }
}

.barra-pesquisa {
    background: none;
    border: none;
    position: absolute;
    width: 40%;
    height: 5.6%;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding-left: 0.5%;
    overflow: hidden;
    z-index: 1001;
    border-bottom: solid #595959;
}

.input-pesquisa {
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    font-size: xx-large;
    width: 100%;
    height: 95%;
    color: #eee;
}

.input-pesquisa::placeholder {
    color: #383838;
}

#lupa-icon {
    height: 50%;
    aspect-ratio: 1/1;
    scale: 1.32;
    opacity: 43%;
    filter: invert();
}

.barra-filtro {
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
    border-radius: 39px;
    width: 440px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 42px;
    scale: 1.3;
    background-color: #222;
    outline: 3px solid #595959;
    transition: ease-in 0.2s;
}
.barra-filtro:hover {
    outline: 3px solid #E50914;
}

.filter_all_button,
.filter_games_button,
.filter_books_button,
.filter_tv_button {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: hidden;
}

.filter_all_button,
.filter_games_button,
.filter_books_button,
.filter_tv_button { background-color: #000; }

.filter-icon {
    width: 40px;
    height: 40px;
    filter: invert();
}

.filter_all_button:hover,
.filter_games_button:hover,
.filter_books_button:hover,
.filter_tv_button:hover {
    transition: all linear 100ms;
    scale: 1.1;
}

.filter_all_button:active,
.filter_games_button:active,
.filter_books_button:active,
.filter_tv_button:active {
    transition: all linear 100ms;
    scale: 1;
}


#recente {
    width: 100vw;
    margin-left: 48px;
    margin-top: 10vh;
}

.midias-scroller {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    background: none;
    scrollbar-width: none;
    bottom: 10px;
}

.midias-container {
    min-width: 320px;
    max-width: 320px;
    height: 400px;
    background: #000000;
    padding: 10px;
    margin-left: 80px;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    transition: ease-in 0.1s;
    border: solid 4px #595959;
    
    & .midia-img {
        height: 320px;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
    & .btn-remover {
        position: relative;
        bottom: 64px;
        left: 136px;
        height: 40px;
        width: 40px;
        background-color: #3a3a3a;
        border: none;
        border-radius: 4px;
        & .icon-remover {
            position: relative;
            right: 2px;
            height: 36px;
        }
    }
    & .btn-remover:hover {
        scale: 1.1;
    }
}
.midias-container:hover {
    outline: 4px solid #E50914;
    scale: 1.005;
}

.horizontal-card {
    scale: 0.7;
}
.horizontal-card:hover {
    scale: 0.75;
}


#add-midia-header {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: absolute;
    top: 120px;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 432px;
    background-color: #000000;
    border-radius: 24px;
    margin-left: 408px;
    outline: 1px solid #E50914;
}

.add-new-field {
    margin-top: 200px;
    margin-left: 8.96%;
    border: none;
    display: flex;
    flex-direction: column;
    width: 32.01%;
    gap: 50px;
    color: #383838;
}

.add-new-element {
    background-color: #000000;
    width: 100%;
    height: 72px;
    font-size: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding-left: 10px;
    overflow: hidden;
    transition: ease-in 100ms;
}

.add-new-element:hover,
.add-new-image:hover,
.btn-salvar:hover {
    outline: 2px solid #E50914;
}

.add-new-image {
    border-radius: 48px;
    position: absolute;
    left: 64%;
    width: 26.46%;
    height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/camera.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    transition: ease-in 100ms;
}

#add-image {
    background-color: #595959;
    border-radius: 40px;
    margin-top: 80%;
    width: 60%;
    height: 10%;
    content-visibility: hidden;
}

#texto-add-imagem {
    color: #000000;
    position: absolute;
    margin-top: 85%;
    pointer-events: none;
}

#nome , #url , #tags {
    background-color: #000000;
    border: none;
    outline: none;
    font-size: xx-large;
    width: 640px;
    height: 56px;
    color: #595959;
}


input[type="radio"] {
    accent-color: #E50914;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 20px;
}

.radio-text {
    font-size: 70%;
}

.btn-salvar {
    background-color: #000000;
    margin-left: 12%;
    margin-top: 40px;
    scale: 2;
    border: none;
    border-radius: 14px;
    transition: ease-in 100ms;
    color: #777;
    outline: 1px solid #E50914;
}

.esconde-animação-h {
    position: absolute;
    top: 0px;
    background-color: #000;
    width: 101%;
    left: -10px;
    height: 100px;
    z-index: 1000;
    border-radius: 0px;
}
#background-seletor {
    background-image: url(../assets/dot.png);
    background-size: 20px;
    background-repeat: repeat;
    background-color: #8b0108;;
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vw;
    z-index: 2000;
    opacity: 0%;
    pointer-events: none;
    animation: autoscroll 60s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes autoscroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

#background-seletor.aberto {
    transition: ease-in 0.5s;
    opacity: 40%;
}

#menu-seletor {
    opacity: 0%;
    background-color: #222;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    z-index: 2001;
    padding: 20px;
    pointer-events: none;
}
#menu-seletor.aberto {
    pointer-events: initial;
    transition: ease-out 0.7s;
    opacity: 100%;
    top: 50%;
}
.theme-icon {
    height: 104px;
    aspect-ratio: 1/1;
    border-radius: 24px;
    outline: 3px solid #E50914;
}
.t-menu-button {
    width: 100%;
    background-color: #000;
    border: none;
    border-radius: 14px;
    margin-left: -30px;
    margin-top: 32px;
    padding: 10px;
    transition: linear 0.2s;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #eee;
}
.theme-header {
    background-color: #666666;
    width: fit-content;
    padding: 10px;
    border-radius: 14px;
}