html, body {
    background-color: #f2f2f2;
    height: 100%;
    overflow: hidden;
    font-family: 'Inter var', sans-serif;
    font-size: x-large;
    min-width: 1874px;
    min-height: 921;
}

div {
    background-color: #ffffff;
    border-radius: 4px;
}

/* BOTÃO HAMBÚRGUER */
.hamburguer_button {
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 48px;
    border-radius: 14px;
    transition: linear 0.1s;
    position: relative;
    z-index: 1001;
}

.hamburguer_icon {
    width: 60px;
    height: 55px;
    scale: 1.32;
}

.hamburguer_button:hover {
    scale: 1.1;
}

.hamburguer_button:active {
    transition-duration: 100ms;
    scale: 1;
}

/* MENU HAMBÚRGUER */
.hamburguer-menu {
    position: absolute;
    background-color: #ffffff;
    width: 120px;
    margin-left: 48px;
    border-radius: 14px;
    top: -2000px;
    overflow: scroll;
    scrollbar-width: none;
}

.h-menu-button {
    background-color: #e3e3e3;
    border: none;
    border-radius: 24px;
    margin-left: -30px;
    margin-top: 32px;
    padding: 10px;
    transition: linear 0.2s;
}

.h-menu-button:hover {
    scale: 1.1;
}

.h-menu-button-icon {
    height: 80px;
    aspect-ratio: 1/1;
}

/* BARRA DE PESQUISA */
.barra-pesquisa {
    background-color: #ffffff;
    border: none;
    position: absolute;
    width: 49.01%;
    height: 7.6%;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    overflow: hidden;
}

.input-pesquisa {
    margin-left: 10px;
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: xx-large;
    width: 100%;
    height: 95%;
    color: #2a2a2a;
}

.input-pesquisa::placeholder {
    color: #8c8c8c;
}

#lupa-icon {
    height: 50%;
    aspect-ratio: 1/1;
    scale: 1.32;
    opacity: 40%;
}

/* FILTROS */
.barra-filtro {
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
    border-radius: 39px;
    width: 440px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 42px;
    scale: 1.3;
    background: none;
}

.filter_all_button,
.filter_games_button,
.filter_books_button,
.filter_tv_button {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: hidden;
}

.filter_all_button { background-color: #b8e9a0; }
.filter_games_button { background-color: #9cc7e6; }
.filter_books_button { background-color: #f1e49c; }
.filter_tv_button { background-color: #f19c9c; }

.filter-icon {
    width: 40px;
    height: 40px;
}

.filter_all_button:hover,
.filter_games_button:hover,
.filter_books_button:hover,
.filter_tv_button:hover {
    transition: all linear 100ms;
    scale: 1.1;
}

.filter_all_button:active,
.filter_games_button:active,
.filter_books_button:active,
.filter_tv_button:active {
    transition: all linear 100ms;
    scale: 1;
}

/* MIDIAS */
#recente {
    position: absolute;
    width: 100vw;
    bottom: 25%;
    margin-left: 48px;
}

.midias-scroller {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    background: none;
    scrollbar-width: none;
}

.midias-container {
    min-width: 320px;
    max-width: 320px;
    height: 400px;
    background: #ffffff;
    padding: 10px;
    margin-left: 148px;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    transition: ease-in 0.1s;
}

.midias-container .midia-img {
    height: 320px;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.midias-container .btn-remover {
    position: relative;
    bottom: 64px;
    left: 136px;
    height: 40px;
    width: 40px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 4px;
}

.midias-container .btn-remover:hover {
    scale: 1.1;
}

.midias-container:hover {
    outline: 4px solid #00FEC9;
    scale: 1.005;
}

.horizontal-ativo {
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-card {
    width: 200px;
}

/* TELA DE ADD */
#add-midia-header {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: absolute;
    top: 56px;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 432px;
    background-color: #ffffff;
    border-radius: 24px;
    margin-left: 408px;
}

.add-new-field {
    margin-left: 8.96%;
    border: none;
    display: flex;
    flex-direction: column;
    width: 32.01%;
    gap: 50px;
    color: #555555;
}

.add-new-element {
    background-color: #ffffff;
    width: 100%;
    height: 72px;
    font-size: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding-left: 10px;
    overflow: hidden;
    transition: ease-in 100ms;
}

.add-new-element:hover,
.add-new-image:hover,
.btn-salvar:hover {
    outline: 2px solid #00FEC9;
}

.add-new-image {
    border-radius: 48px;
    position: absolute;
    left: 64%;
    width: 26.46%;
    height: 496px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/camera.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: #ffffff;
    transition: ease-in 100ms;
}

#add-image {
    background-color: #f2f2f2;
    border-radius: 40px;
    margin-top: 80%;
    width: 60%;
    height: 10%;
    content-visibility: hidden;
}

#texto-add-imagem {
    color: #c2c2c2;
    position: absolute;
    margin-top: 85%;
    pointer-events: none;
}

#nome, #url, #tags {
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: xx-large;
    width: 640px;
    height: 56px;
    color: #333333;
}

input[type="radio"] {
    accent-color: #00FEC9;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 20px;
}

.radio-text {
    font-size: 70%;
}

/* BOTÃO SALVAR */
.btn-salvar {
    background-color: #ffffff;
    margin-left: 12%;
    margin-top: 40px;
    scale: 2;
    border: none;
    border-radius: 14px;
    transition: ease-in 100ms;
}

/* MENU LATERAL */
#barra-lado {
    position: fixed;
    top: -100;
    width: 120px;
    height: fit-content;
    background: #e5e5e5;
    z-index: 999;
    transition: top 0.3s ease;
}

#barra-lado.aberto {
    top: 148px;
}

.esconde-animação-h {
    position: absolute;
    margin-left: 48px;
    top: 0px;
    background-color: #f2f2f2;
    width: 120px;
    height: 100px;
    z-index: 1000;
    border-radius: 0px;
}

/* FUNDO DO SELETOR DE TEMA */
#background-seletor {
    background-image: url(../assets/dot.png);
    background-size: 20px;
    background-repeat: repeat;
    background-color: #c4d1ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vw;
    z-index: 2000;
    opacity: 0%;
    pointer-events: none;
    animation: autoscroll 60s linear infinite;
    transition: ease-in 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-seletor.aberto {
    opacity: 40%;
}

/* MENU SELETOR */
#menu-seletor {
    opacity: 0%;
    background-color: #ffffff;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    transition: ease-out 0.7s;
    z-index: 2001;
    padding: 20px;
    pointer-events: none;
}

#menu-seletor.aberto {
    opacity: 100%;
    top: 50%;
    pointer-events: initial;
}

.theme-icon {
    height: 104px;
    aspect-ratio: 1/1;
    border-radius: 24px;
}

.t-menu-button {
    width: 100%;
    background-color: #e3e3e3;
    border: none;
    border-radius: 14px;
    margin-left: -30px;
    margin-top: 32px;
    padding: 10px;
    transition: linear 0.2s;
    display: flex;
    align-items: center;
    gap: 20px;
}

.theme-header {
    background-color: #ffffff;
    width: fit-content;
    padding: 10px;
    border-radius: 14px;
}
